[user]
	email = toxe@toxe.net
	name = Toxe
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[format]
	pretty = %C(Yellow)%h %C(Green)%cr %C(reset)%s %C(Cyan)(%an)%C(auto)%d
